@model AddtoCartVM

<form method="post">
    <div class="card shadow border-3 border-secondary border-warning mt-5">


        <div class="bg-warning">
            <h2 class="text-center  mt-3 pb-2" style="color:black ">Your Cart</h2>
        </div>
        <div class="container mt-5">

            <div class="card-header">
                <div class="row text-center">

                    <div style="color:black" class="col-2"><b>Product</b></div>
                    <div style="color:black" class="col-6"><b>Discription</b></div>
                    <div style="color:black" class="col-3"><b>Quantity</b></div>
                    <div style="color:black" class="col-1"><b>Total</b></div>

                </div>
            </div>


            @foreach (var item in Model.shoppingCarts)
            {
                <!-- Example product entry -->
                <div class=" card card-info mb-3 m-2 p-3">
                    <div class="row  ">
                        <div class=" col-2 text-center ">
                            <img src="@item.Product.ImageURL" style="height:260px;width:250px">
                        </div>
                        <div class=" col-6 text-center ">
                            <div>@item.Product.Description</div>
                        </div>
                        <div class=" col-3 text-center ">
                            <div class="container mt-5">
                                
                                <div class="input-group">
                                    <a class="m-3 bg-success p-2 px-3" style="border-radius:45%" asp-action="plus"  asp-route-cartId="@item.Id"><i class="bi bi-plus-circle-fill"></i></a>
                                    <input asp-for="@item.Count" type="text" class="form-control text-center" value="@item.Count" id="quantity" readonly>
                                    <a class="m-3 bg-danger p-2 px-3" style="border-radius:45%" asp-action="minus" asp-route-cartId="@item.Id"><i class="bi bi-dash-circle-fill"></i></a>
                                    
                                </div>
                                <br>
                                <a asp-action="remove" asp-route-cartId="@item.Id" class="bg-danger text-black p-3 " style="border-radius:30%;text-decoration:none"><i class="bi bi-trash"><strong>Remove</strong></i></a>
                            </div>
                        </div>
                        <div class=" col-1 text-center mt-5 ">
                            @Model.TotalPrice$
                        </div>
                    </div>
                </div>


            }
            </>


            <div class="row">
                <div class="col-6 ">
                  <button asp-controller="Home" asp-action="Index" class="btn btn-outline-warning mt-4">Continue shopping</button>
                </div>
                <div class="col-6 text-end">
                    <h4>Total: $0</h4>
                    <button class="btn btn-outline-success mb-3">Checkout</button>
                </div>
            </div>
        </div>

        <!-- Include Bootstrap JS (optional) -->




    </div>
</form>



